# arc rpc. testnet: https://rpc.testnet.arc.io  mainnet: https://rpc.mainnet.arc.io
ARC_RPC_URL=https://rpc.testnet.arc.io
# key that pays for the deploy. testnet usdc is free at https://faucet.circle.com
DEPLOYER_PRIVATE_KEY=
